<div id="welcome">

    <router-view></router-view>

    <div class="container">
        <p>Karty: <a href="/sheet/list">lista</a></p>
    </div>

    <div class="container">
        <p>Gracz: <a href="/player">link</a></p>
        <p>Mistrz: <a href="/gm">link</a></p>
    </div>

</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
