<div id="homepage" v-cloak>
    <div class="hero d-flex flex-column justify-content-center" full-page-hero>
        <div class="container text-center">
        </div>
        <div class="container">
        </div>
    </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
